<h1 class="text-center mt-5">VISTA DETALLE MASCOTA</h1>

<p>ID: {{mascota.id}}</p>
<p>Nombre: {{mascota.nombre}}</p>
<p>Nombre propietario: {{mascota.propietario.nombre}}</p>
<p>RUN propietario: {{mascota.propietario.run}}</p>
